COMPTER PROGRAMMING UNIT 2 && UNIT 3 ALL TOPICS 
unit 2 (two)  main ideas are 
1:: What is programming ? 
2::Flowchart ,pseudocode, Algorithm 
3::c++ identifiers ,comment , variable ,etc...
4::Basic data type are: numeric && charater type.
5::Constants , input output statments.
6              OPERATORS 
 Arthmetic , Assyment, Relational, Logical etc...
7  Implicit type conversion &&Explicit type.
 
